@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.meme-form {
    width: 100%;
    min-height: 100vh;
    background-color: #6264a5;
    position: relative;
}

.inputs {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* From uiverse.io by @Alaner-xs */
.input {
    background-color: #d6c7c7;
    border: 1ex solid none;
    border-top-width: 1.7em;
    margin: 0;
    padding: 0;
    color: #2b2a2a;
    word-wrap: break-word;
    outline: 7px solid #a7a5a5;
    height: 30px;
    font-size: 17px;
    text-align: center;
    transition: all 1s;
    max-width: 190px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 20px 0 20px;
}

.input:hover {
    border-top-width: 0.2em;
    background-color: #f1e8e8;
}

.input:focus {
    border-top-width: 0.2em;
    background-color: #f1e8e8;
}

button {
    outline: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 160px;
    height: 50px;
    border-radius: 0.5em;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
    background-color: aqua;
}

button:hover {
    box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
}


button p {
    font-size: 17px;
    font-weight: bold;
    color: #ad2828; 
}

button:active {
    transform: scale(0.95);
}

img {
    width: 450px;
    height: 450px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    position: absolute;
    left: -240px;
    top: -200px;
    width: 500px;
    z-index: 12;
    font-size: 25px;
    color: #fff;
    font-family: 'Antic Slab', serif;
    letter-spacing: 2px;
    /*  */
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0px 2px 0 #000,
        2px 0px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 2px 5px #000;

}
.bottom{
    margin-top: 300px;
}
.image {
    position: relative;
    top: 220px;

}